body {
  font: 10px 'Tahoma';
}
svg {
  display: block;
  position: absolute;
  width: 800px;
  height: 500px;
  top: 0;
  left: 0;
}
#clusters {
  display: block;
  position: absolute;
  left: 800px;
  top: 10px;
  width: 500px;
}

.background {
  fill: none;
  pointer-events: all;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5;
  stroke-opacity: .7;
}

#dma-borders {
  fill: none;
  stroke: black;
  stroke-width: 0.7;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

/*
#textbox {
  position: absolute;
  top: 400px;
  left: 50px;
  width: 275px;
  height: 100px;
}

#textbox text p {
  font-family: Arial, Helvetica;
  font-size: .8em;
  margin: 0;
}
*/

#clusters div {
  padding: 0.5em;
  background-color: #eee;
  margin-bottom: 1em;
}
#clusters p {
  margin: 0;
}
#clusters table {
  border-collapse: collapse;
}
#clusters th,
#clusters td {
  padding: 0 1em 0 0.25em;
  text-align: left;
}
#clusters td.number {
  text-align: right;
}
#clusters tbody tr:hover,
#clusters tbody tr.active {
  background-color: #ccc;
}
